@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

:root{
    --cor-fundo: #B48AF2;
    --cor-titulo: #3F1E70;
    --cor-paragrafo:#3F1E70;
    --fonte: Dancing Script;
    --fonte2: Tiro Bangla;
}

body {
    text-align: center;
    background-color: var(--cor-fundo);
    font-family:var(--fonte);
    width: 600px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: var(--cor-titulo);
    font-family:var(--fonte)
}

p {
    color:var(--cor-paragrafo);
    font-family:var(--fonte2) 
}

table{
    width: 100%;
    border-color: #5000B3;
}

div.imagem {
    text-align: center;
}
